{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'locais/css/partials/components_centrais/salas/sala.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="container-salas">
    <div class="card-sala manutencao">
      <h2>Sala A27</h2>
      <p class="estado"><strong>Estado:</strong> Em manutenção</p>
      <p><i class="fa-solid fa-video"></i> Projetores: 02</p>
      <p><i class="fa-solid fa-desktop"></i> Computadores: 35</p>
      <p><i class="fa-solid fa-gear"></i> Ar-condicionados: 01</p>
    </div>

    <div class="card-sala apta">
      <h2>Sala B57</h2>
      <p class="estado"><strong>Estado:</strong> Apta para uso</p>
      <p><i class="fa-solid fa-video"></i> Projetores: 00</p>
      <p><i class="fa-solid fa-desktop"></i> Computadores: 35</p>
      <p><i class="fa-solid fa-gear"></i> Ar-condicionados: 01</p>
    </div>

    <div class="card-sala apta">
      <h2>Sala B58</h2>
      <p class="estado"><strong>Estado:</strong> Apta para uso</p>
      <p><i class="fa-solid fa-video"></i> Projetores: 00</p>
      <p><i class="fa-solid fa-desktop"></i> Computadores: 35</p>
      <p><i class="fa-solid fa-gear"></i> Ar-condicionados: 01</p>
    </div>

    <div class="card-sala apta">
      <h2>Sala B51</h2>
      <p class="estado"><strong>Estado:</strong> Apta para uso</p>
      <p><i class="fa-solid fa-video"></i> Projetores: 00</p>
      <p><i class="fa-solid fa-desktop"></i> Computadores: 35</p>
      <p><i class="fa-solid fa-gear"></i> Ar-condicionados: 01</p>
    </div>

    <div class="card-sala inativa">
      <h2>Sala F70</h2>
      <p class="estado"><strong>Estado:</strong> Inapta para uso</p>
      <p><i class="fa-solid fa-video"></i> Projetores: 02</p>
      <p><i class="fa-solid fa-desktop"></i> Computadores: 35</p>
      <p><i class="fa-solid fa-gear"></i> Ar-condicionados: 01</p>
    </div>
</div>

{% endblock %}
