{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/css/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_saude_predio/grafico_saude_predio.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/tabela_metricas/tabela_metricas.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_estado_equipamentos/grafico_estado_equipamentos.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_reporte_tipo_equipamento/grafico_reporte_tipo_equipamento.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_estado_salas/grafico_estado_salas.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/headers/setor/setor_header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/tabela_informacoes/tabela_informacoes.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/paginas/setor/setor.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'locais/partials/headers/setor/setor_header.html' %}
{% endblock %}


{% block content %}
    <div class="container-setor">
            <div class="info-cards">
{#                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='vermelho' titulo_card='Reportes abertos' quantidade_card='20' %}#}
                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='amarelo' titulo_card='Manutenções agendadas para hoje' quantidade_card='4' %}
                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='vermelho' titulo_card='Manutenções agendadas' quantidade_card='20' %}
{#                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='amarelo' titulo_card='Predios associados' quantidade_card='3' %}#}
{#                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='amarelo' titulo_card='Total de equipamentos' quantidade_card='600' %}#}
{#                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='ciano' titulo_card='Total de salas' quantidade_card='300' %}#}
            </div>


            <div class="saude-produtividade-setor">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_saude_predio/grafico_saude_predio.html' with grafico_saude_predio=grafico_saude_predio %}

                <div class="produtividade">
                    <div class="produtividade-titulo">
                        <p>Nível de produtividade do setor</p>
                    </div>

                    <div class="produtividade-porcentagem-icone">
                        <div class="produtividade-porcentagem">
                            <p>15%</p>
                        </div>

                        <div class="produtividade-icone">
                            {% static 'locais/imagens/setinha pra cima.png' as setinha_pra_cima %}
                            <img src="{{ setinha_pra_cima }}" width="20px" height="20px">
                        </div>
                    </div>
                </div>
            </div>


            <div class="salas-indice-equipamentos-defeituosos">
                {% include 'locais/partials/tabela_metricas/tabela_metricas.html' with titulo_metrica='Salas com mais equipamentos defeituosos do prédio'   cabecalho_objeto='Salas' cabecalho_necessidade='Necessidade de interditação' cabecalho_quantidade='Equipamentos' objetos=salas tipo_metrica='sala'%}
            </div>

            <div class="estado-salas-equipamentos">
                <div class="estado-salas">
                    {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_estado_salas/grafico_estado_salas.html' with grafico_estado_salas=grafico_estado_salas %}
                </div>

                <div class="estado-equipamentos">
                    {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_estado_equipamentos/grafico_estado_equipamentos.html' with grafico_estado_equipamentos=grafico_estado_equipamentos%}
                </div>
            </div>


            <div class="reportes-tipo-equipamento">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_reporte_tipo_equipamento/grafico_reporte_tipo_equipamento.html' with grafico_reporte_tipo_equipamento=grafico_reporte_tipo_equipamento %}
            </div>

            {% include 'core/partials/tabela_infomacoes/tabela_informacoes.html' with objetos=objetos tipo_objeto='equipamento' %}
        </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    document.addEventListener('DOMContentLoaded', () => {
    // espera o Plotly criar os divs; 50ms costuma bastar, mas você pode usar a alternativa do MutationObserver abaixo
    setTimeout(() => {
        document.querySelectorAll('.plotly-graph-div').forEach(gd => {
          try { Plotly.Plots.resize(gd); } catch(e) { /* fallback */ }
        });
        }, 60);
    });
{% endblock %}