{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/css/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_saude_predio/grafico_saude_predio.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/tabela_metricas/tabela_metricas.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_estado_equipamentos/grafico_estado_equipamentos.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_reporte_tipo_equipamento/grafico_reporte_tipo_equipamento.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_estado_salas/grafico_estado_salas.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/headers/setor/setor_header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/tabela_informacoes/tabela_informacoes.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/paginas/setor/setor.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/partials/botao/botao_modal.css' %}">

    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
{% endblock %}

{% block header %}
    {% include 'locais/partials/headers/setor/setor_header.html' with nome_setor=nome_setor salas_total=salas_total equipamentos_total=equipamentos_total reportes_total=reportes_total %}
{% endblock %}


{% block content %}
    <div class="container-setor">
            <div class="info-cards">
                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='amarelo' titulo_card='Manutenções agendadas para hoje' quantidade_card=manutencoes_hoje %}
                {% include 'core/partials/card_metrica_setor_equipamento/card_metrica_setor_equipamento.html' with cor_card='vermelho' titulo_card='Manutenções agendadas' quantidade_card=manutencoes_agendadas %}
            </div>


            <div class="saude-produtividade-setor">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_saude_predio/grafico_saude_predio.html' with grafico_saude_predio=grafico_saude_predio %}

                <div class="produtividade">
                    <div class="produtividade-titulo">
                        <p>Nível de produtividade do setor</p>
                    </div>

                    <div class="produtividade-porcentagem-icone">
                        <div class="produtividade-porcentagem">
                            <p>{{ produtividade_setor }}%</p>
                        </div>

                        <div class="produtividade-icone">
                            {% static 'locais/imagens/setinha pra cima.png' as setinha_pra_cima %}
                            <img src="{{ setinha_pra_cima }}" width="20px" height="20px">
                        </div>
                    </div>
                </div>
            </div>


            <div class="salas-indice-equipamentos-defeituosos">
                {% include 'locais/partials/tabela_metricas/tabela_metricas.html' with titulo_metrica='Salas com mais equipamentos defeituosos do prédio'   cabecalho_objeto='Salas' cabecalho_necessidade='Necessidade de interditação' cabecalho_quantidade='Equipamentos' objetos=salas tipo_metrica='sala'%}
            </div>

            <div class="estado-salas-equipamentos">
                <div class="estado-salas">
                    {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_estado_salas/grafico_estado_salas.html' %}
                </div>

                <div class="estado-equipamentos">
                    {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_estado_equipamentos/grafico_estado_equipamentos.html' %}
                </div>
            </div>


            <div class="reportes-tipo-equipamento">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_reporte_tipo_equipamento/grafico_reporte_tipo_equipamento.html' %}
            </div>

            {% include 'core/partials/tabela_infomacoes/tabela_informacoes.html' with objetos=objetos %}
        </div>
{% endblock %}

{% block script %}
{{ block.super }}
document.addEventListener('DOMContentLoaded', () => {

    const plotContainers = []

    document.querySelectorAll('[data-url]').forEach(container => {
        const url = container.dataset.url

        fetch(url)
            .then(r => r.json())
            .then(fig => {
                Plotly.newPlot(
                    container,
                    fig.data,
                    fig.layout,
                    { responsive: true }
                )

                plotContainers.push(container)

                // 🔹 Recalcula logo após renderizar
                setTimeout(() => {
                    try {
                        Plotly.Plots.resize(container)
                    } catch (e) {}
                }, 50)
            })
            .catch(err => {
                console.error('Erro ao carregar gráfico:', err)
            })
    })

    // 🔹 Recalcula todos os gráficos ao redimensionar a tela
    window.addEventListener('resize', () => {
        plotContainers.forEach(container => {
            try {
                Plotly.Plots.resize(container)
            } catch (e) {}
        })
    })
})

{% endblock %}
