{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'locais/css/partials/card_metricas_predio/card_metricas_predio.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_estado_equipamentos/grafico_estado_equipamentos.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_estado_salas/grafico_estado_salas.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_saude_predio/grafico_saude_predio.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/grafico_reporte_tipo_equipamento/grafico_reporte_tipo_equipamento.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/predio/partials_do_predio/graficos/garafico_indice_manutencoes/garafico_indice_manutencoes.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/dado_tecnico/dado_tecnico.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/tabela_metricas/tabela_metricas.css' %}">
    <link rel="stylesheet" href="{% static  'locais/css/partials/headers/predio/predio_header.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/paginas/predio/predio.css' %}">
{% endblock %}

 {% block header %}
     {% include 'locais/partials/headers/predio/predio_header.html' %}
 {% endblock %}

{% block content %}
    <div class="container-conteudo-predio">
            <section class="cards-container">
                {% include 'locais/partials/cards_metricas_predio/card_metricas_predio.html' with titulo='Reportes abertos' quantidade='50' porcentagem='+15.03%' tipo_card='reportes-abertos' %}
                {% include 'locais/partials/cards_metricas_predio/card_metricas_predio.html' with titulo='Manutenções agendadas para hoje' quantidade='25' porcentagem='+6.08%' tipo_card='manutencoes-agendadas' %}
                {% include 'locais/partials/cards_metricas_predio/card_metricas_predio.html' with titulo='Salas que precisam de cuidados' quantidade='10' porcentagem='+11.01%' tipo_card='salas-cuidados' %}
                {% include 'locais/partials/cards_metricas_predio/card_metricas_predio.html' with titulo='Salas inviaveis para uso' quantidade='7' porcentagem='-0.03%' tipo_card='salas-inviaveis' %}
            </section>

            <section class="estado-sala-equipamento">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_estado_equipamentos/grafico_estado_equipamentos.html' with grafico_estado_equipamentos=grafico_estado_equipamentos%}
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_estado_salas/grafico_estado_salas.html' with grafico_estado_salas=grafico_estado_salas %}
            </section>

            <section class="saude-predio">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_saude_predio/grafico_saude_predio.html' with grafico_saude_predio=grafico_saude_predio %}
            </section>

            <section class="reportes-tipo-equipamento">
                {% include 'locais/partials/predio/partials_do_predio/graficos/grafico_reporte_tipo_equipamento/grafico_reporte_tipo_equipamento.html' with grafico_reporte_tipo_equipamento=grafico_reporte_tipo_equipamento %}
            </section>

            <section class="indice-manutencoes-equipamentos">
                {% include 'locais/partials/predio/partials_do_predio/graficos/garafico_indice_manutencoes/grafico_indice_manutencoes.html' with grafico_indice_manutencoes=grafico_indice_manutencoes %}
            </section>

            <section class="tecnicos-mais-manutencoes">

                <div class="tecnicos-mais-manutencoes-t">
                    <div class="titulo">
                        <h3>Técnicos que mais fizeram manutenções nesse mês</h3>
                    </div>

                    {% for i in quantidade_tecnicos %}
                        {% static 'locais/imagens/Avatar.png' as avatar %}
                        {% include 'locais/partials/dado_tecnico/dado_tecnico.html' with foto=avatar nome='Marcos dos Santos' info_extra='30 manutenções'%}
                        <hr>
                    {% endfor %}

                </div>
            </section>

            <section class="equipamentos-mais-defeituosos">
                {% include 'locais/partials/tabela_metricas/tabela_metricas.html' with titulo_metrica='Equipamentos mais defeituosos do prédio'   cabecalho_objeto='Serial' cabecalho_necessidade='Necessidade de substituição' cabecalho_quantidade='Manutenções' objetos=equipamentos tipo_metrica='equipamento'%}
            </section>

            <section class="salas-com-mais-equipamentos-defeituosos">
                {% include 'locais/partials/tabela_metricas/tabela_metricas.html' with titulo_metrica='Salas com mais equipamentos defeituosos do prédio'   cabecalho_objeto='Sala' cabecalho_necessidade='Necessidade de interditação' cabecalho_quantidade='Equipamentos' objetos=salas tipo_metrica='sala'%}
            </section>
        </div>
{% endblock %}