{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Equipamento</title>
    <link rel="stylesheet" href="{% static 'core/css/base/modal/modal_base.css' %}">
    {% block extra_css %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="modal-overlay" id="modal" style="display: none;">
        <div class="modal-content">
            {% block modal_content %}

            {% endblock %}
        </div>
    </div>



    <script>
        function closeModal() {
            const modal = modalContainer.querySelector('.modal-overlay');
            modal.style.display = 'none';
        }
    </script>

</body>

</html>