{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Galt</title>
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="login-left">
            <h1>Descomplique o seu gerenciamento com a <span class="brand">Galt</span></h1>
            <p class="subtitle">Gerencie equipamentos, setores e manutenções de forma simples, organizada e inteligente.
                O GALT centraliza informações essenciais do seu ambiente, facilita o acompanhamento das operações e
                melhora a eficiência da sua equipe. Entre para começar a controlar tudo em um só lugar.</p>

            <form method="post" class="login-form">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required>
                <div class="enter-password">
                    <input type="password" name="senha" placeholder="Senha" required>
                    <button type="button" class="btn-login" onclick="window.location.href='{% url 'predios' %}'">
                        Entrar
                    </button>
                </div>
            </form>

            <p class="terms">
                Ao fazer login, você aceita os <a href="#">Termos de uso</a> e a <a href="#">Política de
                    Privacidade</a>.
            </p>

        </div>

        <div class="login-right">
            <img src="{% static 'core/imagens/login-image.png' %}" alt="imagem de login">
        </div>
    </div>

</body>

</html>