{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'locais/css/paginas/sala/sala.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/botao/botao_modal.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/cards/equipamento/equipamento_card.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/qr_modal/qr_modal.css' %}">
    <link rel="stylesheet"
          href="{% static 'locais/css/partials/agendar_manutencao_modal/agendar_manutencao_modal.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/css/partials/alterar_localizacao_do_equipamento_modal/alterar_localizacao_do_equipamento_modal.css' %}">

{% endblock %}

{% block header %}
    {% include 'locais/partials/headers/sala/sala_header.html' %}
{% endblock %}

{% block content %}
    <div class="equipamentos-wrapper">

        <div class="botoes">
            {% static 'core/imagens/lixeira.svg' as lixeira %}
            {% static 'core/imagens/editar.svg' as editar %}
            {% static 'core/imagens/agenda.svg' as agenda %}
            {% static 'core/imagens/binoculos.svg' as binoculos %}
            {% static 'core/imagens/qrCode.svg' as qr_code %}
            {% static 'core/imagens/trocar_equipamento.svg' as troca_equipamento %}

            <div>
                {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=qr_code largura='20px' altura='20px' texto='Qr code' cor='verde' onclick="openModal('qr_modal')" %}
                {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=troca_equipamento largura='20px' altura='20px' texto='Mudar sala de um equipamento' cor='verde' onclick="openModal('modalFormulario')" %}
                {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=agenda largura='20px' altura='20px' texto='Agendar manutenção' cor='verde'  onclick="openModal('modal-manutencao')" %}
            </div>

        </div>

        <div class="colunas-grid">

            <div>
                <h2 class="grid-title">Fileira de computadores a esquerda</h2>
                <div class="grid-coluna">
                    {% for eq in equipamentos_esquerda %}
                        <a href="{% url 'equipamento' %}">
                            {% include 'locais/partials/predio/equipamentos/equipamento_card.html' with classe_estado=eq.classe_estado nome_equipamento=eq.nome_equipamento estado=eq.estado sala=eq.sala posicao=eq.posicao tipo_equipamento=eq.tipo_equipamento %}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div>
                <h2 class="grid-title">Fileira de computadores a direita</h2>
                <div class="grid-coluna">
                    {% for eq in equipamentos_direita %}
                        <a href="{% url 'equipamento' %}">
                            {% include 'locais/partials/predio/equipamentos/equipamento_card.html' with classe_estado=eq.classe_estado nome_equipamento=eq.nome_equipamento estado=eq.estado sala=eq.sala posicao=eq.posicao tipo_equipamento=eq.tipo_equipamento %}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div>
            <h2 class="grid-title">Demais equipamentos cadastrados na sala</h2>
            <div class="grid-auxiliares">
                {% for eq in equipamentos_auxiliares %}
                    <a href="{% url 'equipamento' %}">
                        {% include 'locais/partials/predio/equipamentos/equipamento_card.html' with classe_estado=eq.classe_estado nome_equipamento=eq.nome_equipamento estado=eq.estado sala=eq.sala posicao=eq.posicao tipo_equipamento=eq.tipo_equipamento %}
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}


{% block modais %}
    {% include 'core/partials/qr_modal/qr_modal.html' with modal_id='qr_modal' title='Thunder v12'  descricao='Escaneie o Qrcode para ter acesso as informações do equipamentos Thunder v12' button_text='Link para download' onclick="closeModal('qr_modal')" %}
    {% include 'core/partials/alterar_localizacao_do_equipamento_modal/alterar_localizacao_do_equipamento_modal.html' with modal_id='modalFormulario' onclick="closeModal('modalFormulario')" %}
    {% include 'locais/partials/agendar_manutencao_modal/agendar_manutencao_modal.html' with modal_id='modal-manutencao' onclick="closeModal('modal-manutencao')" %}
{% endblock %}

{% block script %}
    // script do qr_modal
    document.addEventListener("click", function (e) {
    if (e.target.classList.contains("qr-modal-overlay")) {
    e.target.classList.add("none");
    }
    });


    function openModal(id) {
    const modal = document.getElementById(id)
    if (modal) modal.classList.remove("none")
    }

    function closeModal(id) {
    const modal = document.getElementById(id)
    if (modal) modal.classList.add("none")
    }

{% endblock %}