{% extends 'core/paginas/base/headers/header_content_base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/css/partials/partials_do_headers/nome_objeto/nome_objeto_header.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/headers/partials_do_header/visao_setores_salas_equipamentos/actions_visao_setores_salas_equipamentos_header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/partials_do_headers/quantidade_e_objeto/quantidade_e_objeto_header.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/headers/predio/predio_header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/partials_do_headers/filtro/filtro.css' %}">
{% endblock %}

{% block nome_objeto %}
    {% include 'core/partials/partials_do_headers/nome_objeto/nome_objeto_header.html' with nome=nome_predio %}
{% endblock %}

{% block actions_visao_setores_salas_equipamentos %}
    {% include 'locais/partials/headers/partials_do_header/visao_setores_salas_equipamentos/actions_visao_setores_salas_equipamentos_header.html' with predio_id=predio_id %}
{% endblock %}

{% block quantidade_objeto %}
    {% url 'locais_predio_setores' predio_id as url_setores_predio %}
    {% url 'locais_predio_salas' predio_id as url_salas_predio %}
    {% url 'locais_predio_equipamentos' predio_id as url_equipamentos_predio %}
    {% include 'core/partials/partials_do_headers/quantidade_e_objeto/quantidade_e_objeto_header.html' with ref=url_setores_predio quantidade=total_setores objeto='Setores' %}
    {% include 'core/partials/partials_do_headers/quantidade_e_objeto/quantidade_e_objeto_header.html' with ref=url_salas_predio quantidade=total_salas objeto='Salas' %}
    {% include 'core/partials/partials_do_headers/quantidade_e_objeto/quantidade_e_objeto_header.html' with ref=url_equipamentos_predio quantidade=total_equipamentos objeto='Equipamentos' %}
{% endblock %}