{% extends 'core/pages/base/estrutura_base/estrutura_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/base/headers/header_content_base.css' %}">
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="conteudo-esquerda">
            <div class="objeto">
                {% block nome_objeto %}{% endblock %}
                {% block estado %}{% endblock %}
            </div>

            {% block descricao %}{% endblock %}
            {% block actions_visao_setores_salas_equipamentos %}{% endblock %}
        </div>

        <div class="conteudo-direita">
            <nav class="quantidade-objeto">
                {% block quantidade_objeto %}{% endblock %}
            </nav>
            {% block filtro %}{% endblock %}
            {% block responsavel %}{% endblock %}
        </div>
    </div>
{% endblock %}