{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />


    <link rel="stylesheet" href="{% static 'styles/baseStruct/baseStruct.css' %}">
    {% block css %}{% endblock %}

</head>
<body>
<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-top">
            <a href="{% url 'contas_index' %}">
                <img src="{% static 'assets/images/person.png' %}" alt="Imagem pessoal">
            </a>
        </div>

        <div class="sidebar-navigateActions">
            <a href="javascript:history.back()">
                <img src="{% static 'assets/icons/arrow-left.svg' %}" alt="voltar para página anterior" width="20px">
            </a>
        </div>

        <nav class="sidebar-menu">
            <ul>
                <li title="Dashboard dos equipamentos do prédio">
                    <a href="{% url 'locais_index' %}" class="">
                        <i class="fa-solid fa-chart-simple active"></i>
                    </a>
                </li>
                <li title="Criar salas e setores">

                    <a href="{% url 'suporte_index' %}" class="">
                        <i class="fa-solid fa-folder-plus"></i>
                    </a>
                </li>
                <li title="Auditoria de registros">

                    <a href="{% url 'auditoria_index' %}" class="">
                        <i class="fa-solid fa-boxes-packing"></i>
                    </a>
                </li>
                <li title="Kanban de manutenções agendadas">

                    <a href="{% url 'ativos_index' %}" class="">

                        <i class="fa-solid fa-rectangle-list"></i>
                    </a>
                </li>

            </ul>
        </nav>

        <div class="sidebar-menu-config">
            <a href="{% url 'contas_index' %}">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
    </aside>

    <!-- Main content -->
    <main>

        <header class="header">
            <div class="breadcrumb">
                <div>
                    <i class="fa-regular fa-star"></i>
                </div>

                <span>Dashboards</span>
                <span> / </span>
                <span class="breadcrumb-textFocus">Prédio Principal</span>
            </div>

            <div class="header-actions">
                <div class="notifications">
                    <i class="fa-regular fa-bell"></i>
                </div>
            </div>
        </header>

        <!-- Content block -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </main>
</div>
</body>
</html>
