{% load static %}


<div id="{{ modal_id }}" class="qr-modal-overlay none">
    <div class="qr-modal">

        <div class="qr-modal-header">
                <img src="{% url 'gerar_qr_code' qr_code_url %}" alt="qr code" class="qr-image"/>
        </div>

        <div class="qr-modal-body">
            <h2 class="qr-title">{{ title }}</h2>
            <p class="qr-description">{{ descricao }} {{ identificador }}</p>

            <a href="{% url 'baixar_qr_code' qr_code_url identificador %}">
                <button class="qr-button"  {% if onclick %} onclick="{{ onclick }}" {% endif %}>
                    {{ button_text }}
                </button>
            </a>
        </div>

    </div>
</div>
