.MANUTENCAO, .LIBERADA, .INAPTA, .DEFEITUOSO, .FUNCIONANDO, .ALERTA {
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 6px;
}

.MANUTENCAO {
    color: rgba(220, 166, 59, 1);
    border: 2px solid rgba(254, 234, 113, 1);
}

.LIBERADA, .FUNCIONANDO {
    color: rgb(20, 98, 8);
    border: 2px solid rgb(28, 143, 14);
}

.INAPTA, .DEFEITUOSO {
    color: rgb(131, 7, 7);
    border: 2px solid rgb(180, 15, 15);
}

.ALERTA {
    color: #243542;
    border: 2px solid rgb(73, 85, 112);
}