* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* esquerda maior que direita */
    grid-template-rows: auto auto; /* linhas automáticas conforme o conteúdo */
    gap: 2rem; /* espaçamento entre colunas e linhas */

    @media (max-width: 759px) {
        grid-template-columns: 1fr;
    }
}

header {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

.conteudo-esquerda {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conteudo-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 3rem;
    
    @media screen and (max-width: 760px) {
        align-items: flex-start;

        .container-reponsavel{
            margin-bottom: 30px;
        }
    }
}

.conteudo-direita .quantidade-objeto {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 3rem;

    @media screen and (max-width: 1024px) {
        justify-content: space-around;
    }
}

.objeto {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}