.grafico-estado-equipamentos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    background-color: rgba(248, 249, 250, 1);
    border-radius: 1.5rem;
}

.grafico-estado-equipamentos > div {
    width: 100% !important;
    height: 100% !important;
}

.grafico-estado-equipamentos .user-select-none {
    width: 100% !important;
    height: 100% !important;
}

.grafico-estado-equipamentos .svg-container {
    width: 100% !important;
    height: 100% !important;
}

.grafico-estado-equipamentos .main-svg {
    width: 100% !important;
    height: 100% !important;
}


.grafico-estado-equipamentos .gtitle {
     font-size: clamp(0.8rem, 1vw, 1.3rem) !important;
}

.grafico-estado-equipamentos .main-svg .infolayer .annotation .annotation-text {
    font-size: clamp(0.6rem, 0.6vw, 1rem) !important;
}

