* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 4rem;
}

.container-setores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}