{% load static %}

<div id="{{ modal_id }}" class="form-modal-overlay none">
    <div class="form-modal">

        <div class="form-modal-header">
            <h2>Alterar a localização de um equipamento</h2>

            <button class="form-modal-close" {% if onclick %} onclick="{{ onclick }}" {% endif %}>
                &times;
            </button>
        </div>

        <p class="form-modal-description">
            Para poder trocar a localização de um equipamento é preciso preencher o formulário abaixo:
        </p>

        <form class="form-modal-body" method="post" action="{% url 'locais_trocar_equipamento_sala' %}">
            {% csrf_token %}

            {% if equipment_name %}
                <input
                        type="text"
                        class="form-modal-input"
                        value="{{ equipment_name }}"
                        readonly
                >
            {% else %}
                <select class="form-modal-input" name="equipamento">
                    <option selected value="">Selecione o equipamento</option>
                    {% for equipamento in  equipamentos %}
                        <option value="{{ equipamento.equipamento_id }}">{{ equipamento.serial }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <label class="form-modal-label">Sala de destino*</label>
            <select class="form-modal-input" name="sala">
                {% for sala in salas %}
                    {% if sala.sala_id != sala_id %}
                        <option value="{{ sala.sala_id }}">Sala {{ sala.localizacao }} — {{ sala.setor.predio.predio }}</option>
                    {% else %}
                        <option selected value="{{ sala.sala_id }}">Sala {{ sala.localizacao }} — {{ sala.setor.predio.predio }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label class="form-modal-label">Fileira de referência*</label>
            <select class="form-modal-input" name="fileira">
                <option selected value="">Selecione a fileira referência do equipamento na sala de aula</option>
                {% for fileira in fileiras_sala  %}
                    <option value="{{ fileira.name }}">{{ fileira.label }}</option>
                {% endfor %}
            </select>

            <label class="form-modal-label">Posição dentro da sala*</label>
            <input class="form-modal-input" type="number" name="posicao">

            <input type="hidden" name="next_url" value="{{ next }}">

        <div class="form-modal-footer">
            <button class="form-btn-cancel" {% if onclick %} onclick="{{ onclick }}" {% endif %}>Cancelar</button>
            <button class="form-btn-confirm" {% if onclick %} onclick="{{ onclick }}" {% endif %} type="submit">Confirmar</button>
        </div>

        </form>

    </div>
</div>
