{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'locais/css/partials/components_centrais/setores/setores.css' %}">

<main class="container">
  <section class="grid-setores">
    
    <div class="card">
      <div class="info">
        <h2>Setor Administrativo</h2>
        <p>Prédio principal - segundo andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>12</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor Investigativo</h2>
        <p>Prédio principal - Terceiro andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>2</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor Audiovisual</h2>
        <p>Prédio principal - Quarto andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>5</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor Educacional</h2>
        <p>Prédio principal - segundo andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>15</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor da Coordenação</h2>
        <p>Prédio principal - Primeiro andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>2</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor da Comunicação</h2>
        <p>Prédio principal - segundo andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>4</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor de atividades extra curriculares</h2>
        <p>Prédio principal - Terceiro andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>8</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor financeiro</h2>
        <p>Prédio principal - Primeiro andar</p>
      </div>
      <div class="salas"><span>Salas</span><strong>1</strong></div>
    </div>

    <div class="card">
      <div class="info">
        <h2>Setor Administrativo II</h2>
        <p>Anexo principal</p>
      </div>
      <div class="salas"><span>Salas</span><strong>12</strong></div>
    </div>

  </section>
</main>

{% endblock %}
