.mobile-header {
    font-family: 'Inter', sans-serif;
    background-color: #dcefe3;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: relative;
    z-index: 100;

    @media ( min-width : 750px){
        display: none;
    }
}


/* Top bar */


.mobile-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    color: #004d2c;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.header-brand strong {
    font-weight: 600;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #22623a;
    cursor: pointer;
}


/* Menu overlay */


.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 0 10px;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.mobile-menu.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem 1rem;
}

.mobile-menu li {
    margin-top: 0.8rem;
}

.mobile-menu a {
    text-decoration: none;
    color: #114d36;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.mobile-menu a:hover {
    color: #008043;
}

/* Efeito no botão ao abrir */
.menu-toggle.active i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
