.container-salas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  cursor: pointer;
}

@media (max-width: 690px) {
    .container-salas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 454px) {
    .container-salas {
        grid-template-columns: 1fr;
    }
}