{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'locais/css/partials/cards/sala/sala_card.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/paginas/predio/sala/predio_salas.css' %}">
{% endblock %}

{% block header %}
    {% include 'locais/partials/headers/predio/predio_salas_header.html' with predio_id=predio_id nome_predio=nome_predio total_setores=total_setores total_salas=total_salas total_equipamentos=total_equipamentos %}
{% endblock %}


{% block content %}
    <div class="container-salas">
        {% for sa in salas %}
            <a href="{% url 'locais_sala_detail' 0 %}">
            {% include 'locais/partials/predio/salas/sala_card.html' with classe_estado=sa.classe_estado posicao=sa.posicao estado=sa.estado quantidade_projetor=sa.quantidade_projetores quantidade_computador=sa.quantidade_computadores quantidade_ar_condicionado=sa.quantidade_ar_condicionados %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
