* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f7f8f5;
  padding: 30px;
}

header h1 {
  font-size: 26px;
  color: #46785F;
}

header p {
  margin-top: 5px;
  color: #6f726e;
}

.board {
  display: flex;
  grid-template-columns: repeat(5, 300px);
  gap: 2px;
  padding: 20px 0;
  align-items: start;

}

.column {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.column-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.column-header h2 {
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

.count {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.count.yellow { background: #fff0cc; color: #c58c11; }
.count.pink   { background: #f7c6ec; color: #c0109a; }
.count.purple { background: #e6d8fc; color: #925fe4; }
.count.green  { background: #a7dcff; color: #184a6c; }
.count.blue   { background: #9fe3c0; color: #2b5b47; }

.card {
  background: #fff;
  width: 95%;
  height: 130px;
  border-radius: 14px;
  padding: 18px 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  border: 1px solid #eceee9;
  margin-bottom: 18px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 650;
  margin-bottom: 14px;
  color: #0e0e0e;
}

.date {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 650;
}

.icon {
  width: 14px;
  height: 14px;
}

.tags {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.tag {
  padding: 2px 8px;
  border-radius: 14px;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.tag.green  { background: #d8efea; color: #0dcd53; }
.tag.blue   { background: #e0f1ff; color: #0d4cdf; }
.tag.yellow { background: #fff0cc; color: #c58c11; }

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatars img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -8px;
}

.more {
  margin-left: 8px;
  background: #f1f1f1;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 50%;
}

.time {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  font-weight: 650;
}
