{% extends 'core/pages/base/visao-usuario/visao-usuario-base.html' %}
{% load static %}

{% block content %}

<body>

    <div class="equip-page">

        <div class="equip-icon-box">
            <img src="{% static 'core/icons/equipamento_icone.png'%}" alt="Icone do equipamento">
        </div>

        <h1 class="equip-title">Equipamento Thunder V13</h1>

        <p class="equip-description">
            Aqui você pode ver o estado atual deste equipamento e reportar qualquer problema que
            perceber durante o uso.
        </p>

        <div class="equip-alert">
            <img src="{% static 'core/icons/alerta_balao.png' %}" alt="img">
            <p><strong>10</strong> reportes enviados</p>
        </div>

        <hr>

        <div class="equip-section">
            <h3>Informações</h3>
            <ul>
                <li><strong>Estado:</strong> funcionando</li>
                <li><strong>Modelo:</strong> Epson X1200</li>
                <li><strong>Número de série:</strong> SN-443221</li>
                <li><strong>Patrimônio:</strong> 009832</li>
            </ul>
        </div>

        <div class="equip-section">
            <h3>Localização</h3>
            <ul>
                <li><strong>Sala:</strong> Prédio principal, segundo andar – A24</li>
                <li><strong>Ordem de referência:</strong> A12</li>
            </ul>
        </div>

        <div class="equip-section">
            <h3>Tipo de equipamento</h3>
            <ul>
                <li>Computador de uso comum para alunos</li>
            </ul>
        </div>

        <hr>

        <p class="equip-footer-text">
            Seu feedback é essencial para que nossa equipe técnica possa agir rapidamente e manter
            o ambiente de aprendizado funcionando sem interrupções.
        </p>

        <a href="{% url 'report_visao_usuario' %}">
            <button class="btn-create">Realizar report</button>
        </a>

    </div>
    {% endblock %}