{% extends 'core/pages/base/visao-usuario/visao-usuario-base.html' %}
{% load static %}

{% block content %}

<body>

    <div class="equip-page">

        <div class="equip-icon-box">
            <img src="{% static 'core/icons/equipamento_icone.png'%}" alt="Icone do equipamento">
        </div>

        <h1 class="equip-title">Equipamento {{ equipamento.serial }}</h1>

        <p class="equip-description">
            Aqui você pode ver o estado atual deste equipamento e reportar qualquer problema que
            perceber durante o uso.
        </p>

        <div class="equip-alert">
            <img src="{% static 'core/icons/alerta_balao.png' %}" alt="img">
            <p><strong>{{ reportes_enviados }}</strong> reportes enviados</p>
        </div>

        <hr>

        <div class="equip-section">
            <h3>Informações</h3>
            <ul>
                <li><strong>Estado:</strong> {{ estado }}</li>
                <li><strong>Fabricante:</strong> {{ equipamento.fabricante }}</li>
                <li><strong>manutenções realizadas:</strong> {{ manutencoes_realizadas }}</li>
                <li><strong>Data de aquisição:</strong> {{ equipamento.data_aquisicao }}</li>
            </ul>
        </div>

        <div class="equip-section">
            <h3>Localização</h3>
            <ul>
                <li><strong>Sala:</strong> {{ equipamento.sala.setor.predio.predio }}, {{ equipamento.sala.setor.setor }} –
                    {{ equipamento.sala.localizacao }}</li>
                <li><strong>Fileira:</strong> {{ fileira }}</li>
                <li><strong>Posição:</strong> {{ equipamento.posicao }}</li>
            </ul>
        </div>

        <div class="equip-section">
            <h3>Tipo de equipamento</h3>
            <ul>
                <li>{{ tipo }} de uso comum para alunos</li>
            </ul>
        </div>

        <hr>

        <p class="equip-footer-text">
            Seu feedback é essencial para que nossa equipe técnica possa agir rapidamente e manter
            o ambiente de aprendizado funcionando sem interrupções.
        </p>

        <a href="{% url 'report_visao_usuario' equipamento.equipamento_id %}">
            <button class="btn-create">Realizar report</button>
        </a>

    </div>
    {% endblock %}