{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}

{% block header %}
{% include 'contas/partials/headers/informacoes_pessoais_header.html' %}
{% endblock %}

{% load static %}

{% block content %}

<link rel="stylesheet"
    href="{% static 'contas/css/partials/components_centrais/informacoes_pessoais/informacoes_pessoais.css' %}">

<main class="container">

    <section class="profile-card">
        <div class="profile-header">
            <div class="profile-info">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe9hj1SVBykNeadEEmA6T8U7OQKQvmVmbUtQ&s"
                    alt="Foto de perfil" class="profile-img" />

                <div class="profile-name">
                    <h2>{{ usuario.nome }}</h2>
                    <span>{{ usuario.email_escolar }}</span>
                </div>
            </div>

            <div class="actions">
                <button class="edit-btn" title="Editar informações" type="button" id="editBtn">Editar</button>
                <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="exclude-btn" title="Encerrar sessão">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>

            </div>

        </div>

        <form class="info-form" method="post">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" value="{{ usuario.cpf }}" placeholder="000.000.000-00"
                        readonly />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ usuario.email }}"
                        placeholder="exemplo@gmail.com" readonly />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="telefone">Número de contato</label>
                    <input type="text" id="telefone" name="numero" value="{{ usuario.numero }}"
                        placeholder="+00 0 00000000" readonly />
                </div>

                <div class="form-group">
                    <label for="email-escolar">Email escolar</label>
                    <input type="email" id="email-escolar" name="email_escolar" value="{{ usuario.email_escolar }}"
                        placeholder="exemplo@escolar.com" readonly />
                </div>
            </div>

        </form>
    </section>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const editBtn = document.getElementById("editBtn");
        const form = document.querySelector(".info-form");

        const cpf = document.getElementById('cpf')
        const email = document.getElementById('email')
        const email_escolar = document.getElementById('email-escolar')
        const numero = document.getElementById('telefone')

        let editando = false;

        editBtn.addEventListener("click", () => {
            console.log("Clique detectado");

            if (!editando) {
                cpf.removeAttribute("readonly")
                email.removeAttribute("readonly")
                email_escolar.removeAttribute("readonly")
                numero.removeAttribute("readonly")

                cpf.style.color = "black"
                email.style.color = "black"
                email_escolar.style.color = "black"
                numero.style.color = "black"

                editBtn.innerText = "Salvar";
                editando = true;
            } else {
                form.submit();
            }
        });
    });
</script>

{% endblock %}