{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'locais/css/partials/cards/setor/setor_card.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/paginas/predio/setor/predio_setores.css' %}">
{% endblock %}

{% block header %}
    {% include 'locais/partials/headers/predio/predio_header.html' %}
{% endblock %}


{% block content %}
    <div class="container-setores">
            {% for se in setores %}
        <a href="{% url 'locais_setor_detail' 0 %}">
                {% include 'locais/partials/predio/setores/setor_card.html' with setor=se.setor predio=se.predio localizacao=se.localizacao quantidade_salas=se.quantidade_salas %}
        </a>
            {% endfor %}
    </div>
{% endblock %}