{% extends 'core/pages/base/modal/modal_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/extra-css/modais/modal-criar-predio.css' %}">
{% endblock %}

{% block modal_content %}
<div class="modal-header">
    <div class="header-left">
        <img src="{% static 'core/icons/header_icon.png' %}" alt="header icon">
        <div>
            <h2>Adicionar prédio</h2>
            <p>Facilite o controle estrutural e o monitoramento de ambientes físicos.</p>
        </div>
    </div>
</div>

<hr>

<form class="modal-form" action="{% url 'criar_predio_modal' %}" method="post">
    {% csrf_token %}

    <div class="form-row">
        <label>Prédio </label>
        {{ form.predio }}
    </div>

    <div class="form-row">
        {% if form.predio.errors %}
        <span class="error">{{ form.predio.errors }}</span>
        {% endif %}
    </div>


    <hr>

    <div class="modal-actions">
        <a href="{% url 'criar_recursos' %}"><button type="button" class="btn-cancel">Cancelar</button></a>
        <button type="submit" class="btn-create">Criar</button>
    </div>

</form>
{% endblock %}