{% extends 'core/pages/base/modal/modal_base.html' %}

{% load static %}
{% block modal_content %}
<div class="modal-header">
    <div class="header-left">
        <img src="{% static 'core/icons/header_icon.png' %}" alt="header icon">
        <div>
            <h2>Adicionar equipamento</h2>
            <p>Monitore equipamentos, estado e histórico de manutenções de cada ambiente.</p>
        </div>
    </div>
</div>

<hr>

<form class="modal-form" action="{% url 'criar_equipamento_modal' %}" method="post">
    {% csrf_token %}

    <div class="form-row">
        <label>Tipo do equipamento </label>
        {{ form.tipo }}
    </div>

    <hr>

    <div class="form-row">
        <label>Modelo </label>
        {{ form.modelo }}
    </div>

    <hr>

    <div class="form-row">
        <label>Serial </label>
        {{ form.serial }}
    </div>

    <hr>

    <div class="form-row">
        <label>Estado atual </label>
        {{ form.estado_equipamento}}

        <!--   
        <label>Estado atual </label>
        <select>
            <option>🟢 FUNCIONANDO</option>
            <option>🟠 MANUTENÇÃO</option>
            <option>🔴 DEFEITUOSO</option>

        </select>
        
        -->
    </div>

    <hr>

    <div class="form-row">
        <label>Posição </label>
        {{ form.posicao }}
    </div>

    <hr>

    <div class="form-row">

        <label>Sala </label>
        {{ form.sala }}

        <!-- 
        <label>Sala </label>
        <select>
            {% for sala in salas %}
            <option>{{ sala }}</option>
            {% endfor %}
        </select>
        -->
    </div>

    <hr>

    <div class="modal-actions">
        <a href="{% url 'criar_recursos' %}"><button type="button" class="btn-cancel">Cancelar</button></a>
        <button type="submit" class="btn-create">Criar</button>
    </div>

</form>
{% endblock %}