{% extends 'core/pages/base/modal/modal_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/extra-css/modais/modal-criar-predio.css' %}">
{% endblock %}

{% block modal_content %}
<div class="modal-header">
    <div class="header-left">
        <img src="{% static 'core/icons/header_icon.png' %}" alt="header icon">
        <div>
            <h2>Adicionar prédio</h2>
            <p>Facilite o controle estrutural e o monitoramento de ambientes físicos.</p>
        </div>
    </div>
    <button class="close-btn" onclick="closeModal()">×</button>
</div>

<hr>

<form class="modal-form">

    <div class="form-row">
        <label>Prédio </label>
        <input type="text" placeholder="Prédio principal">
    </div>

    <div class="dropdown form-row" id="dropdown">
        <div class="dropdown-header">

            <label for="setores">Setores</label>

            <!-- WRAPPER adicionada -->
            <div class="dropdown-wrapper">
                <div class="dropdown-btn" onclick="toggleDropdown()">Selecione os setores do prédio</div>

                <div class="dropdown-content">
                    {% for setor in setores %}
                    <label><input type="checkbox" value="{{ setor }}"> {{ setor }}</label>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


    <hr>

    <div class="modal-actions">



        <a href="{% url 'criar_recursos' %}"><button type="button" class="btn-cancel">Cancelar</button></a>
        <button type="submit" class="btn-create">Criar</button>
    </div>

    <script>
        function toggleDropdown() {
            document.getElementById('dropdown').classList.toggle('open');
        }
    </script>
</form>
{% endblock %}