{% extends 'core/pages/base/modal/modal_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/base/modal/modal_concluido.css' %}">
{% endblock %}

{% block modal_content %}
<div class="modal-overlay">
    <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">
            <div class="header-left">
                <img src="{% static 'core/icons/lixeira_vermelha.png' %}" alt="Excluir">
                <div>
                    <h2>Excluir recurso</h2>
                    <p>Deseja realmente excluir este recurso?</p>
                </div>
            </div>

            <button class="close-btn" onclick="closeModal()">×</button>
        </div>

        <hr>

        <!-- Texto -->
        <div style="padding: 0 20px; margin-bottom: 15px;">
            <p style="color:#666; font-size:0.9rem; line-height:1.4;">
                A exclusão é definitiva e todos os equipamentos vinculados a este recurso também serão removidos,
                caso não tenham sido previamente reassociados a outro local.
            </p>

            <p style="color:#d9534f; font-weight:500; font-size:0.9rem;">
                Digite <strong>“Eu entendo que essa ação irá excluir esse recurso”</strong>
            </p>
        </div>

        <!-- Input -->
        <form class="modal-form">
            <div class="form-row">
                <input type="text" placeholder="Eu......">
            </div>

            <!-- Ações -->
            <div class="modal-actions">
                <button type="button" class="btn-cancel" onclick="closeModal()">Cancel</button>
                <button type="submit" class="btn-create" style="background:#D93025;">Deletar</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}