{% extends 'core/pages/base/modal/modal_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/extra-css/modais/modal-criar-predio.css' %}">
{% endblock %}

{% block modal_content %}
<div class="modal-header">
    <div class="header-left">
        <img src="{% static 'core/icons/header_icon.png' %}" alt="header icon">
        <div>
            <h2>Adicionar usuário</h2>
            <p>Define seus tipos de acesso (técnico, professor, aluno, etc)</p>
        </div>
    </div>
    <button class="close-btn" onclick="closeModal()">×</button>
</div>

<hr>

<form class="modal-form" action="{% url 'criar_usuario_modal' %}" method="post">
    {% csrf_token %}

    <div class="form-row">
        <label>Email pessoal </label>
        {{ form.email }}
    </div>

    <div class="form-row">
        <label>Email escolar </label>
        {{ form.email_escolar }}
    </div>

    <div class="form-row">
        <label>Senha</label>
        {{ form.password }}
    </div>

    <div class="form-row">
        <label>CPF</label>
        {{ form.cpf }}
    </div>

    <div class="form-row">
        <label>Telefone</label>
        {{ form.numero }}
    </div>

    <hr>

    <div class="modal-actions">

        <a href="{% url 'criar_recursos' %}"><button type="button" class="btn-cancel">Cancelar</button></a>
        <button type="submit" class="btn-create">Criar</button>

    </div>

    <script>
        function toggleDropdown() {
            document.getElementById('dropdown').classList.toggle('open');
        }
    </script>
</form>
{% endblock %}