{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'locais/css/paginas/predio/equipamento/predio_equipamentos.css' %}">
    <link rel="stylesheet" href="{% static 'locais/css/partials/cards/equipamento/equipamento_card.css' %}">
{% endblock %}

{% block header %}
    {% include 'locais/partials/headers/predio/predio_equipamentos_header.html' %}
{% endblock %}

{% block content %}
    <div class="container-equipamentos">
        {% for eq in equipamentos %}
            <a href="{% url 'equipamento' %}">
                {% include 'locais/partials/predio/equipamentos/equipamento_card.html' with classe_estado=eq.classe_estado nome_equipamento=eq.nome_equipamento estado=eq.estado sala=eq.sala posicao=eq.posicao tipo_equipamento=eq.tipo_equipamento %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
