* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.equipamento-card {
    border-radius: 16px;
    padding: 20px 22px;
    width: 100%;
    height: 11rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease-in-out;
    font-size: 15px;
    background-color: #ececec;
    color: #ececec;
}

.equipamento-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.equipamento-card h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.equipamento-card .estado {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}

.equipamento-card .info {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: #50826C;
}

.equipamento-card i {
    width: 20px;
    font-size: 15px;
    margin-right: 6px;
    color: inherit;
}


/* Cores por Estado */


.funcionando {
    background-color: #C7F6EC;
    color: #50826C;
}

.funcionando h2 {
    color: #50826C;
}

.funcionando strong {
    color: #50826C;
}

.funcionando i {
    color: #50826C;
}

.funcionando span {
    color: #50826C;
}

.manutencao {
    background-color: #F3E9AB;
    color: #6C5C3D;
}

.manutencao h2 {
    color: #6C5C3D;
}

.manutencao strong {
    color: #6C5C3D;
}

.manutencao i {
    color: #6C5C3D;
}

.manutencao span {
    color: #6C5C3D;
}


.alerta {
    background-color: #CDC7F6;
    color: #4F6474;
}

.alerta h2 {
    color: #4F6474;
}

.alerta strong {
    color: #4F6474;
}

.alerta i {
    color: #4F6474;
}

.alerta span {
    color: #4F6474;
}


.defeituoso {
    background-color: #FEBDBE;
    color: #A26774;
}

.defeituoso h2 {
    color: #A26774;
}

.defeituoso strong {
    color: #A26774;
}

.defeituoso i {
    color: #A26774;
}

.defeituoso span {
    color: #A26774;
}

.posicao-vaga  {
    background-color: #ececec;
}