{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/base/headers/header_content_base.css' %}">
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block content %}
<div id="modal-container"></div>


    <div class="container">
        <div class="conteudo-esquerda">
            <div class="objeto">
                {% block nome_objeto %}{% endblock %}
                {% block estado %}{% endblock %}
            </div>

            {% block descricao %}{% endblock %}
            {% block actions_visao_setores_salas_equipamentos %}{% endblock %}
        </div>

        <div class="conteudo-direita">
            <nav class="quantidade-objeto">
                {% block quantidade_objeto %}{% endblock %}
            </nav>

            {% if request.resolver_match.url_name in 'locais_predio_detail' and is_admin %}
            {% include 'core/partials/botao/botoes.html' with acao_editar="editar_predio_modal" acao_excluir="excluir_predio" id=predio_id %}
            {% endif %}
            
            {% if request.resolver_match.url_name in 'locais_setor_detail' and is_admin %}
            {% include 'core/partials/botao/botoes.html' with acao_editar="editar_setor_modal" acao_excluir="excluir_setor" id=objeto_id %}
            {% endif %}

            {% if request.resolver_match.url_name in 'locais_sala_detail' and is_admin %}
            {% include 'core/partials/botao/botoes.html' with acao_editar="editar_sala_modal" acao_excluir="excluir_sala" id=sala_id %}
            {% endif %}

            {% if request.resolver_match.url_name in 'ativos_equipamento_detail' and is_admin %}
            {% include 'core/partials/botao/botoes.html' with acao_editar="editar_equipamento_modal" acao_excluir="excluir_equipamento" id=equipamento_id %}
            {% endif %}

            {% block filtro %}{% endblock %}
            {% block responsavel %}{% endblock %}
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modalContainer = document.getElementById("modal-container");

        document.querySelectorAll(".open-modal").forEach(card => {
            card.addEventListener("click", async () => {
                const url = card.dataset.modalUrl;

                const response = await fetch(url);
                const html = await response.text();

                modalContainer.innerHTML = html;

                const modal = modalContainer.querySelector(".modal-overlay");
                modal.style.display = "flex";
            });
        });
    });

    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }

    function toggleDropdown() {
        document.getElementById('dropdown').classList.toggle('open');
    }
</script>
{% endblock %}