{% load static %}



<header class="mobile-header">
    <div class="mobile-header-top">
        <div class="header-brand">
            <strong>GALT</strong><br>
            <span>Gerenciamento de manutenções</span>
        </div>

        <button id="menu-toggle" class="menu-toggle" aria-label="Abrir menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <nav id="mobile-menu" class="mobile-menu">
        <ul>
            <li title="Dashboard dos equipamentos do prédio">
                <a href="{% url 'locais_index' %}" class="">
                    Dashboard dos equipamentos do prédio
                </a>
            </li>

            <li title="Criar salas e setores">

                <a href="{% url 'suporte_index' %}" class="">
                    Criar salas e setores
                </a>
            </li>

            <li title="Auditoria de registros">

                <a href="{% url 'auditoria_index' %}" class="">
                    Auditoria de registros
                </a>
            </li>

            <li title="Kanban de manutenções agendadas">

                <a href="{% url 'ativos_index' %}" class="">

                    kanban de manutenções agendadas
                </a>
            </li>
        </ul>
    </nav>

</header>

<script>
    const toggleBtn = document.getElementById("menu-toggle");
    const menu = document.getElementById("mobile-menu");

    toggleBtn.addEventListener("click", () => {
        menu.classList.toggle("open");
        toggleBtn.classList.toggle("active");
    });
</script>
