{% extends 'core/paginas/base/estrutura_base/estrutura_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'ativos/css/pages/base/pagina_de_equipamento/pagina_de_equipamento.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/botao/botao_modal.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/qr_modal/qr_modal.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/partials/visualizar_reportes_modal/visualizar_reportes_modal.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/css/partials/alterar_localizacao_do_equipamento_modal/alterar_localizacao_do_equipamento_modal.css' %}">
{% endblock %}

{% block header %}
    {% include 'ativos/partials/headers/equipamento_header.html' %}
{% endblock %}

{% block content %}
    <div class="botoes">
        {% static 'core/imagens/lixeira.svg' as lixeira %}
        {% static 'core/imagens/editar.svg' as editar %}
        {% static 'core/imagens/agenda.svg' as agenda %}
        {% static 'core/imagens/binoculos.svg' as binoculos %}
        {% static 'core/imagens/qrCode.svg' as qr_code %}
        {% static 'core/imagens/trocar_equipamento.svg' as troca_equipamento %}

        <div>
            {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=qr_code largura='20px' altura='20px' texto='Qr code' cor='verde' onclick="openModal('qr_modal')" %}
            {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=troca_equipamento largura='20px' altura='20px' texto='Mudar sala de um equipamento' cor='verde' onclick="openModal('modalFormulario')" %}
            {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=binoculos largura='20px' altura='20px' texto='Visualizar reportes' cor='verde' onclick="openModal('modal-reports')" %}
        </div>

        <div>
            {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=lixeira largura='20px' altura='20px' texto='Excluir equipamento' cor='vermelho' %}
            {% include 'core/partials/botao/botao_modal.html' with caminho_imagem=editar largura='20px' altura='20px' texto='Editar Equipamento' cor='verde' %}
        </div>
    </div>

    {#  Informacoes do equipamento  #}
    <div class="informacoes-equipamento">
        <div class="ficha-tecnica">
            <p class="ficha-tecnica-titulo">Ficha tecnica do equipamento</p>

            <div>
                <p class="ficha-tecnica-item">
                    <b>Modelo: </b>
                    {{ modelo }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Tipo: </b>
                    {{ tipo }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Numero de serie:</b>
                    {{ serial }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Patrimonio: </b>
                    {{ patrimonio }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Fabricante:</b>
                    {{ fabricante }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Data de aquisicao: </b>
                    {{ data_aquisicao }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Garantia ate: </b>
                    {{ data_garantia }}
                </p>
                <p class="ficha-tecnica-item">
                    <b>Ultima manutencao: </b>
                    {{ data_ultima_manutencao }}
                </p>
            </div>
        </div>

        {# Insights do equipamento #}
        <div class="insights">
            {% for insight in insights %}
                <div class="insight-card
                    {% if insight.status == "preocupante" %}
                        preocupante
                    {% elif insight.status == "ruim" %}
                        ruim
                    {% else %}
                        bom
                    {% endif %}
                ">
                    <p class="insight-card-titulo">{{ insight.titulo }}</p>
                    <p class="insight-card-valor">{{ insight.valor }}</p>
                </div>
            {% endfor %}

        </div>
    </div>

    {#  Historico de manutencoes  #}
    <div class="historico-manutencoes">
        <p class="historico-manutencoes-titulo">Historico de manutencoes do equipamento</p>

        <div>
            <table class="tabela-manutencao">
                <thead>
                <tr>
                    <th class="coluna-manutencao">Manutencao</th>
                    <th>Title</th>
                    <th class="coluna-responsavel">Responsável</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for item in historico_manutencoes %}
                    <tr>
                        <td class="coluna-manutencao-id">{{ item.manutencao_id }}</td>
                        <td>{{ item.titulo }}</td>
                        <td class="coluna-responsavel">{{ item.responsavel }}</td>
                        <td>{{ item.data }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Nenhuma manutencao registrada.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block modais %}
    {% include 'core/partials/qr_modal/qr_modal.html' with modal_id='qr_modal' title='Thunder v12'  descricao='Escaneie o Qrcode para ter acesso as informações do equipamentos Thunder v12' button_text='Link para download' onclick="closeModal('qr_modal')" %}
    {% include 'core/partials/alterar_localizacao_do_equipamento_modal/alterar_localizacao_do_equipamento_modal.html' with modal_id='modalFormulario' onclick="closeModal('modalFormulario')" %}
    {% include 'core/partials/visualizar_reportes_modal/visualizar_reportes_modal.html' with modal_id='modal-reports' onclick="closeModal('modal-reports')" %}
{% endblock %}

{% block script %}
    // script do qr_modal
    document.addEventListener("click", function (e) {
    if (e.target.classList.contains("qr-modal-overlay")) {
    e.target.classList.add("none");
    }
    });


    function openModal(id) {
    const modal = document.getElementById(id)
    if (modal) modal.classList.remove("none")
    }

    function closeModal(id) {
    const modal = document.getElementById(id)
    if (modal) modal.classList.add("none")
    }

{% endblock %}